@use "../../utils/mediaqueris.scss" as media;
@use "../../utils/functions.scss" as func;

.spinning-div {
  animation: spinAndShrink 5s ease-in-out forwards;
}

@keyframes spinAndShrink {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  40% {
    transform: rotate(360deg) scale(1);
  }
  70% {
    transform: rotate(720deg) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: rotate(1080deg) scale(0);
    opacity: 0;
  }
}

.fading-div {
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.falling-div {
  animation: shrinkFall 2s forwards;
}

@keyframes shrinkFall {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(50px);
    opacity: 0;
  }
}

.show-the-thoughts {
  opacity: 1;
}

.step-ten-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: func.rem(10);
  align-items: center;
  justify-items: center;

  @include media.breakpoint(medium) {
    flex-direction: row;

    .btn {
      margin: 0;
    }
  }
}
