@use "../../utils/functions.scss" as *;

.slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.slider-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: rem(25);
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12.5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: rem(25);
  height: rem(25);
  background: #461d69;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: rem(25);
  height: rem(25);
  background: #3b2b48;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.value-wrapper {
  display: grid;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  justify-content: center;
}

.slider-value {
  font-size: rem(18);
  font-weight: 600;
  margin: 0;
}

.slider-label-left,
.slider-label-right {
  font-size: clamp(rem(12), rem(12) + 0.2vw, rem(14));
  margin-left: rem(10);
  margin-right: rem(10);
}

.slider-label-left {
  text-align: right;
}

.slider-value-right {
  text-align: left;
}
