@use "../../utils/functions.scss" as *;

.slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.slider-wrapper {
  display: flex;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: rem(25);
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12.5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: rem(25);
  height: rem(25);
  background: #461d69;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: rem(25);
  height: rem(25);
  background: #3b2b48;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.value-wrapper {
  display: flex;
  justify-content: center;
}

.slider-value {
  font-size: rem(18);
  font-weight: 600;
  margin: 0;
}

.slider-label {
  font-size: rem(12);
  margin-left: rem(10);
  margin-right: rem(10);
}
