@use "../../utils/mediaqueris.scss" as media;
@use "../../utils/functions.scss" as func;

.animation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, func.rem(900));
  margin-inline: auto;
  text-align: center;

  .step-seven-intro-wrapper {
    @include media.breakpoint(medium) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: func.rem(20);
      align-items: left;
      justify-items: left;
      text-align: left;

      .step-seven-heading {
        grid-column: 1 / span 2;
      }

      .step-seven-text {
        grid-column: 1 / span 2;
        margin-bottom: func.rem(50);
      }
    }
  }

  .step-seven-animation-frame {
    height: func.rem(1500);
    width: calc(func.rem(320) + 10vw);
    object-fit: cover;
    margin-bottom: func.rem(40);

    @include media.breakpoint(medium) {
      height: func.rem(1500);
      width: calc(func.rem(620) + 10vw);
      object-fit: cover;
    }

    @include media.breakpoint(large) {
      height: func.rem(1500);
      width: calc(func.rem(720) + 10vw);
      object-fit: cover;
    }

    @include media.breakpoint(xlarge) {
      height: func.rem(900);
      width: calc(func.rem(1050) + 5vw);
      object-fit: cover;
    }

    @include media.breakpoint(xxlarge) {
      height: func.rem(900);
      width: clamp(func.rem(1200), func.rem(1250) + 4vw, func.rem(1700));
      object-fit: cover;
    }
  }

  .step-seven-save-animation-img {
    max-height: func.rem(300);
    width: 80%;
    object-fit: cover;

    @include media.breakpoint(medium) {
      width: 60%;
    }
  }

  .step-seven-save-animation-img2 {
    margin-top: func.rem(10);
    max-height: func.rem(300);
    width: 80%;
    object-fit: cover;

    @include media.breakpoint(medium) {
      width: 60%;
    }
  }

  .step-seven-button {
    margin-top: func.rem(10);
  }
}
