@use "../utils/functions.scss" as *;

:root {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-image: linear-gradient(#38263f, #73647c);
  color: azure;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100% - rem(48), rem(900));
  margin-inline: auto;
  padding-block: 40px;
  text-align: center;
}

p {
  font-size: clamp(rem(12), rem(14) + 0.5vw, rem(18));
}

/* -----------------------  IMAGE ANIMATION  -----------------------  */

.animation-img {
  clip-path: inset(100% 0% 0% 0%);
  opacity: 0;
  transform: translateY(20px);
  transition: clip-path 2.5s ease-out, opacity 2.5s ease-out,
    transform 2.5s ease-out;
}

.animation-img.is-visible {
  clip-path: inset(0% 0% 0% 0%);
  opacity: 1;
  transform: translateY(0);
}

/* -----------------------  TEXT ANIMATION  -----------------------  */

.reveal-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.reveal-text.is-visible {
  opacity: 1;
  transform: translateY(0);
}

nav {
  margin-right: rem(20);
}

ul {
  display: flex;
  justify-content: space-between;
}

a {
  color: azure;
}

.feelings-img {
  max-height: rem(350);
  width: rem(800);
  object-fit: cover;
}

.critic-thoughts-img,
.intro-emotion-image,
.notice-emotion-img,
.critic-name-image,
.draw-inner-critic-img {
  max-height: rem(400);
  width: 60%;
  object-fit: cover;
}

.not-asked-for-advice {
  font-size: 0.9em;
  font-style: italic;
}

.animation-section,
.compare-thoughts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: min(100% - rem(48), rem(900));
  margin-inline: auto;
  padding-block: rem(60);
}

.intro-component-section,
.critic-thoughts-section,
.slider-section,
.critic-name-section,
.animation-section,
.drawing-section,
.emotion-image-section,
.notice-emotion-section {
  padding-block: rem(30);
}

.closing-section {
  padding-block: rem(175);
}

.btn {
  background-color: #38263f;
  padding: rem(15) rem(25);
  border-radius: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: 1px solid #b1afb3;
  text-transform: uppercase;
  margin-inline-start: rem(10);
}

.btn:hover {
  cursor: pointer;
}

.about-section,
.contact-section {
  height: 100vh;
}

textarea {
  font-family: "Poppins", sans-serif;
  font-size: rem(12);
  // width: rem(500);
  height: rem(200);
  background-color: rgb(168, 149, 173);
  border: 2px solid #38263f;
  color: black;
}

textarea:focus,
input:focus {
  border: 2px solid white;
  text-decoration: none;
  outline: none;
}

input {
  width: rem(300);
  height: rem(25);
  background-color: rgb(168, 149, 173);
  border: 2px solid #38263f;
  color: black;
}
