@use "../utils/functions.scss" as *;
@use "../utils/mediaqueris.scss" as media;

:root {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-image: linear-gradient(#38263f, #73647c);
  color: azure;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100% - rem(48), rem(900));
  margin-inline: auto;
  padding-block: 40px;
  text-align: center;

  @include media.breakpoint(medium) {
    text-align: left;
  }
}

p {
  font-size: clamp(rem(12), rem(13) + 0.5vw, rem(16));
}

nav {
  margin-right: rem(20);
}

ul {
  display: flex;
  justify-content: space-between;
}

a {
  color: azure;
}

section {
  padding-block: rem(60);
}

/* -----------------------  IMAGE ANIMATION  -----------------------  */

.animation-img {
  clip-path: inset(100% 0% 0% 0%);
  opacity: 0;
  transform: translateY(20px);
  transition: clip-path 2.5s ease-out, opacity 2.5s ease-out,
    transform 2.5s ease-out;
}

.animation-img.is-visible {
  clip-path: inset(0% 0% 0% 0%);
  opacity: 1;
  transform: translateY(0);
}

/* -----------------------  TEXT ANIMATION  -----------------------  */

.reveal-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.reveal-text.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.not-asked-for-advice {
  font-size: 0.9em;
  font-style: italic;
}

.btn {
  background-color: #38263f;
  padding: rem(15) rem(25);
  border-radius: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: 1px solid #b1afb3;
  text-transform: uppercase;
  margin-inline-start: rem(10);
}

.btn:hover {
  cursor: pointer;
}

.about-section,
.contact-section {
  height: 100vh;
}

textarea {
  font-family: "Poppins", sans-serif;
  font-size: rem(14);
  height: rem(200);
  background-color: rgb(168, 149, 173);
  border: 2px solid #38263f;
  color: black;
}

textarea:focus,
input:focus {
  border: 2px solid white;
  text-decoration: none;
  outline: none;
}

input {
  width: rem(300);
  height: rem(25);
  background-color: rgb(168, 149, 173);
  border: 2px solid #38263f;
  color: black;
}
