@use "../../utils/mediaqueris.scss" as media;
@use "../../utils/functions.scss" as func;

.critic-thoughts-section {
  display: grid;

  @include media.breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: func.rem(20);

    .step-one-wrapper {
      display: grid;
      align-items: start;
    }

    .step-one-heading {
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
    }

    .step-one-img {
      grid-column: 1 / span 3;
      justify-self: start;
      align-self: start;
      width: clamp(func.rem(310), func.rem(310) + 5vw, func.rem(400));
    }

    .step-one-text {
      align-self: start;
      justify-self: start;
      margin: 0;
    }

    .step-one-form {
      display: grid;
      justify-self: start;
      margin-top: func.rem(10);
    }

    .step-one-text-area {
      width: func.rem(370);
    }

    .step-one-btn {
      margin-top: func.rem(10);
      justify-self: end;
    }
  }
}

.step-one-img {
  max-height: func.rem(350);
  width: clamp(func.rem(200), func.rem(290) + 5vw, func.rem(320));
  object-fit: cover;
}

.step-one-form {
  display: flex;
  flex-direction: column;
  justify-items: end;
}

.step-one-note {
  font-size: func.rem(12);
  margin: 0;
}

.step-one-hover-wrapper {
  display: flex;
  justify-content: end;
  position: relative;
}

.step-one-storage-info {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(38, 9, 48);
  border: 1px solid black;
  font-size: func.rem(12);
  padding: func.rem(10);
}

.step-one-hover-wrapper:hover .step-one-storage-info {
  display: block;
}

.step-one-button-wrapper {
  display: flex;
  justify-content: end;
  margin-top: func.rem(10);
}

.step-one-delete-wrapper,
.step-one-save-wrapper {
  align-items: center;
  text-align: center;
}

.saved,
.deleted {
  font-size: func.rem(12);
  margin: 0;
  margin-top: func.rem(5);
}
