:root {
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #5d645e;
  color: azure;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100% - 48px, 900px);
  margin-inline: auto;
  padding-block: 60px;
  text-align: center;
}

nav {
  margin-right: 20px;
}

ul {
  display: flex;
  justify-content: space-between;
}

header {
  position: sticky;
  top: 0;
  height: 120px;
  background-image: linear-gradient(#5d645e, #8c968e);
  max-width: 100vw;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header li {
  list-style: none;
}

header a {
  margin-left: 20px;
  text-decoration-line: none;
}

header a:hover {
  color: rgb(214, 224, 207);
  text-decoration-line: underline;
}

a {
  color: azure;
}

.feelings-img {
  max-height: 350px;
  width: 800px;
  object-fit: cover;
}

.slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slidecontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12.5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #2a5142;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #586963;
  cursor: pointer;
  border-radius: 50%;
}

.slider-value {
  font-size: 1.2em;
  font-weight: 600;
}

.critic-thoughts-img,
.intro-emotion-image,
.notice-emotion-img,
.critic-name-image,
.draw-inner-critic-img {
  max-height: 500px;
  width: 50%;
  object-fit: cover;
}

.not-asked-for-advice {
  font-size: 0.9em;
  font-style: italic;
}
