@use "../../utils/mediaqueris.scss" as media;
@use "../../utils/functions.scss" as func;

.check-thoughts-section {
  display: grid;
  align-items: center;

  @include media.breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: func.rem(20);

    .step-two-heading {
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
    }

    .step-two-text {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }

    .step-two-slider-wrapper {
      grid-column: 1 / span 3;
      grid-row: 3 / span 1;
      padding-inline: func.rem(50);
      align-self: center;
    }
  }
}
