@use "../../utils/functions.scss" as func;
@use "../../utils/mediaqueris.scss" as media;

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-image-wrapper {
    width: func.rem(300);
    height: func.rem(300);
  }

  .contact-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include media.breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: func.rem(20);
    align-items: center;

    .contact-text-wrapper {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }

    .contact-image-wrapper {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;

      justify-self: end;
    }
  }
}
