@use "../../../styles/functions.scss" as *;

header {
  position: sticky;
  top: 0;
  height: rem(120);
  max-width: 100vw;
  margin: 0;
  background-color: #44354a;
  padding-left: rem(20);
  padding-right: rem(20);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
}

header li {
  list-style: none;
}

header a {
  margin-left: rem(20);
  text-decoration-line: none;
}

header a:hover {
  color: rgb(214, 224, 207);
  text-decoration-line: underline;
}
